#ignore all kind of files
*
#except Python files
!*.py
!/testbed/
!/testbed/archive
!/testbed/archive/error
!/testbed/archive/error/*.py
!/testbed/*.txt
!/results/
!/results/Evaluation_Paper.ipynb
!/results/intermediate_results.pkl
!/testmodels
!/testmodels/*.py

