#ignore all kind of files
*
#except Python files
!*.py
!/testbed/
!/testbed/archive
!/testbed/archive/error
!/testbed/archive/error/*.py
!/testbed/*.txt
!/results/
!/results/SOR_all_instances_0.5.pkl
!/results/SOR_all_instances_0.75.pkl
!/results/SOR_all_instances_0.9999.pkl
!/results/Evaluation_Paper.ipynb
!/results/intermediate_results.pkl
!/results/vals_SOR.npy
!/testmodels
!/testmodels/*.py

